<style>
    * {
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-variation-settings: "wdth" 100;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
    }
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }
    p {
        margin: 0;
        font-size: 0.875rem;
    }
    div {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
    .footer__item {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .footer__autor {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
<footer class="footer">
    <div>
        <p class="footer__item">©2025 Roolkan Novels</p>
        <p class="footer__autor">
            <a href="https://www.dmca.com/"> Aviso legal DMCA</a>
        </p>
    </div>
    <p class="footer__email">Email: yesangchun@gmail.com</p>
</footer>
