<style>
    * {
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-variation-settings: "wdth" 100;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
    }
    .main {
        margin-top: 70px;
        width: 100%;
    }
    .fx {
        display: flex;
        align-items: center;
    }
    .fx_row {
        flex-direction: row;
    }
    .fx_col {
        flex-direction: column;
    }
    .fx_wrap {
        flex-wrap: wrap;
    }
    .main__nav {
        width: 100%;
        padding: 5px;
    }
    .main__nav-item {
        width: 33.33%;
        padding: 8px 4px 8px 4px;
        border-radius: 2px;
        font-weight: var(--weight-default);
        color: var(--bg-active-item);
        text-align: center;
        cursor: pointer;
    }
    .main__nav-item p {
        font-size: var(--p-size);
    }
    .active {
        color: var(--color-primary);
        background-color: var(--bg-active-item);
    }
    .main__gallery {
        width: 100%;
        gap: 10px 4%;
        justify-content: space-between;
        padding: 5px;
    }

    .gallery__item {
        width: 48%;
        height: 220px;
        position: relative;
    }

    .gallery__item span {
        position: absolute;
    }
    .gallery__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }

    .title {
        bottom: 0;
        left: 0;
        right: 0;
        font-size: var(--p-size);
        padding: 2px 0 2px 0;
        background-color: var(--bg-tag-card);
        color: var(--color-primary);
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .raiting {
        border-radius: 5px;
        top: 24px;
        right: 0;
        font-size: var(--p-size);
        background-color: var(--bg-tag-card);
        color: var(--color-primary);
        margin: 2px;
        padding: 0 5px 0 5px;
        text-align: center;
    }
    .star {
        width: 18px;
        height: 18px;
        vertical-align: text-bottom;
    }
    .genre {
        border-radius: 5px;
        top: 24px;
        left: 0;
        font-size: var(--p-size);
        background-color: var(--bg-tag-card);
        color: var(--color-primary);
        margin: 2px;
        padding: 0 5px 0 5px;
        text-align: center;
    }
    .status {
        border-radius: 5px;
        width: 70%;
        top: 50%;
        left: 50%;
        font-size: var(--p-size);
        color: var(--color-primary);
        text-align: center;
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    .demography {
        top: 0;
        left: 0;
        font-size: 0.95rem;
        width: 100%;
        color: var(--color-primary);
        text-align: center;
        background-color: var(--bg-tag-card);
    }

    .ongoing {
        background-color: rgba(0, 255, 0, 0.3);
    }
    .novela {
        background-color: rgba(0, 120, 255, 0.7);
    }
    .manwha {
        background-color: rgba(150, 55, 100, 0.7);
    }
    .seinen {
        background-color: rgba(255, 0, 0, 0.7);
    }
    .shounen {
        background-color: rgb(183 183 7 / 70%);
    }
    .shoujo {
        background-color: rgba(255, 0, 255, 0.7);
    }
    @media (min-width: 400px) {
        .gallery__item {
            width: 46%;
            height: 250px;
        }
        .main__gallery {
            padding: 5px 15px 5px 15px;
            gap: 15px 8%;
        }
        .main__nav {
            padding: 5px 15px 5px 15px;
        }
    }

    @media (min-width: 500px) {
        .gallery__item {
            height: 270px;
        }
    }
    @media (min-width: 768px) {
        .gallery__item {
            width: 32%;
            height: 270px;
        }
        .main__gallery {
            padding: 5px 15px 5px 15px;
            gap: 15px 2%;
        }
    }
    @media (min-width: 1024px) {
        .gallery__item {
            width: 24%;
            height: 270px;
        }
        .main__gallery {
            padding: 5px 15px 5px 15px;
            gap: 15px 0;
        }
    }
    @media (min-width: 1200px) {
        .gallery__item {
            width: 15%;
            height: 250px;
        }
        .main__gallery {
            padding: 5px 15px 5px 15px;
            gap: 15px 0;
        }
    }
</style>
<div class="main fx fx_col">
    <ul class="main__nav fx fx_row">
        <li class="main__nav-item active"><p>Recientes</p></li>
        <li class="main__nav-item"><p>Calificación</p></li>
        <li class="main__nav-item"><p>Populares</p></li>
    </ul>
    <div id="main_galery" class="main__gallery fx fx_wrap">
        <!-- Galery Elements -->
    </div>
    <div class="main__footer">
        <p>ver más</p>
    </div>
</div>
